.bir {
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.iki {
    background-image: url("../img/services-bg.jpg");
}

.iki_1 {
    background-image: linear-gradient(to right, rgba(253, 126, 20, 0.80), rgba(248, 107, 38, 0.80), rgba(241, 88, 50, 0.80), rgba(232, 70, 61, 0.80), rgba(220, 53, 69, 0.80));
}



.himiya {
    background-image: url("../img/first-list-icon.png");
    size: small;
}